[2018-07-24 15:44] Perseverance opened #23 "Create linking functionality in the deployer object, allowing for deployment of contracts relying on linking"
# Overview
As a developer I would frequently need to use libraries an would need to be able to link such libraries in the smart contracts I develop. Obviously I would need to deploy them. I need to have a mechanism to deploy libraries (already on place as they are normal contracts) and link them to other smart contracts that use them.

## Changes needed:
Add optional second parameter to the deploy

[2018-07-24 16:19] Perseverance opened #24 "Add compilation ability of the etherlime CLI"
# Overview
As a developer I want to be able to use etherlime in order to compile my solidity contract into the required JSON files needed for deployment.

## Changes needed:
Augment `etherlime init` to create contracts folder that will be used to store the solidity contracts being developed. Make this non-intrusive with Truffle (do not throw an error if such dir already exists)

Add `etherlime com

[2018-07-24 16:19] #24 closed

[2018-07-25 06:37] Perseverance opened #25 "Add functionality for writing and executing unit tests with etherlime"
# Overview
As a developer it is a standard practice to use unit tests. When you develop smart contracts it is especially critical to write such tests due to the immutable nature of the blockchain. Currently mocha is one of the best testing frameworks out there and one that most developers are used to. The idea is to create unit testing functionality similar to what Truffle does

## Changes needed:

[2018-07-25 06:46] Perseverance opened #26 "Add code coverage report to the etherlime test functionality"
# Overview
Unit tests, by themselves are awesome tool, however in smart contracts it is important to cover all scenarios. In order to achieve this code coverage tool is needed. Use solidity-coverage tool to augment the experience of the developers and give them better perspective on their work.

## Changes needed:
Augment `etherlime test` to include test coverage report

[2018-07-25 07:04] Perseverance opened #27 "Add transaction debugger in the etherlime CLI"
# Overview
As a developer I frequently need to debug my failing transactions. I need to have a tool to debug the problems of my transactions

## Changes needed:
TBD

[2018-07-25 07:08] Perseverance opened #28 "Add ability to generate webpage for interacting with the deployed contract suitable for test purposes"
# Overview
As a developer I would like to be able to have very basic webpage served to me that allows me to interact with the deployed contracts.

## Changes needed:
Augment `etherlime deploy` to allow for additional parameter that will be used for creation of web page that can be served and used for testing.
*More details to be added*

[2018-07-25 07:11] Perseverance opened #29 "Add Code Scaffolding for different languages based on the deployment"
# Overview
As a developer I would like etherlime to generate for me code snippets that can be directly integrated in my codebase and used to interact with the deployed smart contracts.

## Changes needed:
Augment `etherlime deploy` to allow for additional parameter that will be used for scaffolding snippets of code to be later by the developer.
*More details to be added*

[2018-07-25 10:45] #23 closed

[2018-07-30 06:14] Daniel-K-Ivanov opened #31 "Add setters for optional parameters for the deployers"
When we create a new instance of any deployer (EtherlimeGanacheDeployer) for example, we need to provide all of the parameters (privatekey, port, defaultOverrides) or none of them.

If someone wants to provide only the port or only the defaultOverrides he should set the other properties as undefined. This approach is not friendly.

Task:
Provide setters for the different properties (for e.g setPri

[2018-07-30 17:37] Perseverance opened #32 "Add command line param for compiler optimisation"
As a developer I want to be able to compile my code with optimisations and define my runs. Something like `etherlime compile --runs=999` would be a great start

[2018-07-31 06:22] maptuhec opened #34 "Ability to show address of contract before deployment"
For development purposes of identity proxy contracts we need to know the address of a given smart contract before it is deployed on the network. Also the ability for counterfactual deploy will be useful.

[2018-08-02 06:29] #25 closed

[2018-08-15 10:04] Perseverance opened #42 "Create package.json file when running etherlime init, before installing etherlime"

[2018-08-15 10:04] Perseverance opened #43 "Test template lacks async keyword in the default test"

[2018-08-15 10:40] Perseverance opened #44 "Add an option to disable the verboseness of the etherlime deployer during unit tests"

[2018-08-15 13:44] Perseverance opened #45 "Support --runs on the deploy command to support deploying with optimiser on"

[2018-08-15 15:07] maptuhec opened #46 "Deploy without compilation of contracts don't work"
I ran `etherlime deploy --compile=false` but it still compiles the smart contracts before deployment

[2018-08-16 08:45] Perseverance commented on #46
This is fixed in version 0.7.3 that was just released

[2018-08-16 08:45] #46 closed

[2018-08-17 10:08] #42 closed

[2018-08-17 10:08] #43 closed

[2018-08-17 10:08] #44 closed

[2018-08-17 10:08] #45 closed

[2018-08-18 18:36] Perseverance opened #49 "What is missing in etherlime and should be there for you to use? [Ideas]"

[2018-08-18 21:15] #26 closed

[2018-08-20 16:07] StevenJNPearce commented on #49
Nice to have: Mock blockchain/events

An issue with testing clientside code in dapps is if you are writing unit tests, and using a local geth or gananche node, then now it is an integration test.  We want to test the code in isolation.
Also nice to have a way to access error reason strings for `revert` and `require` that usually only return `VM Exception while processing transaction: revert`

[2018-08-20 19:45] anshumanv commented on #49
Here are a few points that I accumulated, sorry if I missed/overlooked anything, I think the library is already great and docs seem descriptive too.

Must have:
* A demo link to a Dapp in the readme or docs which showcases the functionality of the library. :tada:
* Contribution guidelines are missing so others will find it difficult to contribute maybe. :sweat_smile:

Nice to have:
* Can we handle

[2018-08-21 02:12] mkosowsk commented on #49
Interesting concept! Will be watching this one :)

[2018-08-21 07:58] bakaoh commented on #49
Must have:
+ Redeploy on save
+ Support line by line debug

Nice to have:
+ Dependency / package management
+ Auto format code
+ Run code snippets

Would be cool if etherlime:
+ Auto fix some simple warning (like add default `public`, replace `constant` by `view`...)
+ Generate document from NatSpec (to something like readthedocs.io)
+ Estimate gas limit (for deploy and for each function)

[2018-08-21 08:38] bakaoh commented on #49
@Perseverance --- can it estimates gas limit when call function?, no need to be exactly, what i want to know is, for example, the gas cost different if i use `byte[] memory` instead of `byte[] storage` in the function?

For redeploy and auto format, i would like something that IDE independence.
In my imagine,
- we may add a command like `etherlime watch [path]`, which watch for file modification i

[2018-08-21 08:41] Perseverance commented on #49
@bakaoh - awesome suggestions I'm definitely taking notes here!

Here is the estimate gas - https://etherlime.readthedocs.io/en/latest/deployers.html#estimategas-contract-libraries-params

[2018-08-21 13:01] vsavovlime opened #50 "Create a new view for console reports."
When console window size is small console report is broken and rows are over-layered. Console output should be more responsive and readable in any resolution/window size.

**View from high resolution:**
![1](https://i.imgur.com/aQhDthb.png)
**View from low resolution:**
![2](https://i.imgur.com/S5kNznC.png)

[2018-08-21 16:00] writeprovidence commented on #49
Must have
1) smooth and trouble-free deployment
2) Reuse time and time again

Nice to have
1) simple to control
2) Easy to maintain

Would be cool if etherlime:
1) Is well defined
2)  has a modular structure

[2018-08-21 16:25] Perseverance commented on #49
@writeprovidence - can you check out etherlime and tell me if these are present, and if so - what else can be in these categories?

[2018-08-22 15:22] vsavovlime opened #51 "Proposal to add ethers.wallet() to current accounts objects in tests"
Currently accounts objects in tests contains private key and initial balance. It would be great if there is also ethers.Wallet().

**Benefits**
 - Easy way to get wallet address
 - Easy way to get wallet balance
 - Тhere will be no need to instance ethers.Wallet()

[2018-08-23 07:13] Perseverance commented on #51
Thanks @vsavovlime I've added ethers.wallet() in the account object and updated the docs too. You can have this with version 0.9.1. I just published it, should be available very soon

[2018-08-23 07:13] #51 closed

[2018-08-23 09:23] vladichhh opened #52 "OSx EACCESS on sha3 - Issues during installation of etherlime"
Trying to install etherlime, I got the following error:

[code]

Possible solutions:
 - add write perms to the /usr/local/lib/node_modules: "sudo chmod -R add a+w node_modules"
 - change owner of folder /usr/local/lib/node_modules: "sudo chown {username} node_modules"
 - use 'sudo' running the installation: "sudo npm i -g etherlime" (not recommended, because it could make the things even worse so

[2018-08-23 12:31] Perseverance opened #53 "Add parameter to remove the verboseness of the deploy API command"
Add parameter to remove the verboseness of the deploy API command. This would be useful when running unit tests and coverage as the verboseness clutters the console somewhat unnecessary. Add this as parameter as default overrides.

In addition add cli option `--option` that can be one of the following:

- none - stop the output of the cli
- console - print on stdout

[2018-08-23 23:01] hardlydifficult commented on #49
"Must have"
 - Stack trace displayed when an error is encountered (or at least line numbers)
 - Fast performance when running unit tests locally

"Nice to have"
 - Examples showing how the same would be achieved in Truffle vs EtherLine, shown side by side
 - Tutorials and complete documentation including examples

"Would be cool if etherlime …"
 - Full IDE integration including breakpoints and ste

[2018-08-24 15:51] Perseverance opened #54 "Catch all errors the CLI throws and prevent Unhandled Promise Exception"
Catch all errors the CLI throws and prevent Unhandled Promise Exception. It'd be best to show stack trace of the error

[2018-08-24 15:55] Perseverance opened #55 "Add ability to redeploy on save"
Add ability to watch files for changes and to redeploy them automatically

[2018-08-24 15:56] Perseverance opened #56 "Autoformat code"
Add command to watch files for changes and auto format them

[2018-08-24 15:56] Perseverance opened #57 "Autocorrect common mistakes in solidity files"
Add the ability to correct common mistakes in solidity files

[2018-08-24 15:59] Perseverance opened #58 "Add command for auto-generation of documentation"

[2018-08-24 15:59] Perseverance opened #59 "Examples showing how the same would be achieved in Truffle vs EtherLime, shown side by side"

[2018-08-24 16:00] Perseverance opened #60 "Add more advanced tutorials and examples in the docs"

[2018-08-24 16:00] Perseverance opened #61 "VSCode integration for etherlime"

[2018-08-25 23:35] PaulRBerg commented on #49
Overall, etherlime looks sweet. I like the history feature and the nice verbose output. Here are my thoughts:

Must Have ❗
• A basic contract after running `etherlime init`. Truffle already sets you up with `Migrations.sol`, so there's something to compile. I assumed there will be something similar on Etherlime, but I got an `UnhandledPromiseRejectionWarning` warning after the first compilation.
•

[2018-08-28 10:23] Perseverance opened #63 "Add basic TestContract to be created with etherlime init command in the contracts folder"
Add basic TestContract to be created with etherlime init command in the contracts folder. Change the template of the deploy script to deploy this contract.

[2018-08-28 10:34] Perseverance opened #64 "Format the gas price column in the report table to show the gas price in unit"
Format the gas price column in the report table to show the gas price in meaningful unit (Wei, Gwei, Ether, etc)

[2018-08-28 10:58] Perseverance opened #65 "Do not save empty executions in the history of deployments"

[2018-08-31 09:51] #63 closed

[2018-08-31 09:51] #64 closed

[2018-08-31 11:57] Perseverance opened #68 "Add cli command `etherlime decode` that decodes a provided transaction given a path to an ABI"
Add cli command `etherlime decode` that decodes a provided transaction given a path to an JSON files. This can also be exposed by the etherlime API too

[2018-09-04 01:46] ceresstation commented on #49
Great suggestions so far everyone, we'll start paying out rewards over the next couple of days!

[2018-09-06 15:58] Perseverance opened #69 "Add gitignore file with etherlime init if none exists"
It is useful to add a common nodejs/solidity/etherlime gitignore file

[2018-09-09 09:39] vongohren opened #70 "[To be reproduced] Etherlime solidity-coverage breaks the etherlime-cli"
Im getting version 0.9.5

<img width="1044" alt="screen shot 2018-09-09 at 11 37 24" src="https://user-images.githubusercontent.com/1012055/45263184-ddee3b80-b424-11e8-9d0d-5171d90b6ce3.png">

[2018-09-09 11:09] Perseverance commented on #70
Thanks for opening this issue. Couple of questions:
- did ‘npm i -g etherlime’ ran successfully
- what kind of os do you use and what versions your node and npm are?

[2018-09-09 12:48] ochikov commented on #70
Hello @vongohren ,
I did a few tests with your provided version of node and npm. Everything is building fine. I am posting the logs. Do you think about something different in our configurations? Could you provide us with a repo, so we can take further action to solve your problem?

[code]

[2018-09-10 08:34] vongohren commented on #70
Hey I think I found the entrance point for the errors.
So what I tried to do was to have etherlime as a project dependency and using npx to run it. Also call it directly from node_modules/.bin.
I also tried to use yarn add global to check if that made any change.
But all these things fail with the same error.

But npm install -g work for some reason.

Maybe it is lacking some kind of dependecy tha

[2018-09-11 04:39] anshumanv commented on #49
Thanks, @ceresstation :100:

[2018-09-21 08:31] Perseverance commented on #70
I will go ahead and close this issue, if you have any more news please reopen it

[2018-09-21 08:31] #70 closed

[2018-09-21 08:31] Perseverance opened #72 "Add TimeTravel to the unit testing utilities"

[2018-09-21 08:33] Perseverance opened #73 "Cover the CLI of Etherlime with unit tests at > 95%"

[2018-09-22 10:58] #72 closed

[2018-10-03 07:40] Perseverance commented on #53
We need to apply these changes for Deployment Wrapper and the rest of the CLI commands

[2018-10-03 07:41] #50 closed

[2018-10-03 12:17] mkosowsk commented on #31
@iamonuwa you have been approved for this bounty, feel free to start work at your earliest convenience!

[2018-10-05 11:50] Perseverance opened #79 "Implement structured output of commands"
# Overview
The idea of this issue is to create proposition of a structure for the structured output. This output will be used for inter app communication and integration.

# Protocol Definition
We will use JSONRPC like structure for our protocol. One important consideration is that if we want to use this structured output as file descriptor stream, we would need to be writing the info into a file

[2018-10-05 12:32] Perseverance commented on #31
You can reach us here, or in the gitter of the project. How can we help you?

[2018-10-05 13:38] iamonuwa commented on #31
Awesome @Perseverance will reach out once I need clarification more

[2018-10-06 14:56] Perseverance opened #81 "Separate the different contract executions when presenting the historical report"

[2018-10-06 15:36] iamonuwa commented on #31
@Perseverance can you point me to where this task is needed?

[2018-10-06 16:46] Perseverance commented on #31
@iamonuwa The idea behind this task is to augment the Deployer class and certain subclasses with setters for the optional parameters coming from the constructor. One example is the EtherlimeGanacheDeployer, where all three params are basically optional, but the user might want to set just the third (defaultOverrides). Having a setter for the defaultOverrides would save much complexity in the code

[2018-10-07 10:49] #53 closed

[2018-10-09 08:13] #81 closed

[2018-10-09 13:58] Perseverance opened #83 "Migrate to ethers 4"

[2018-10-13 12:58] #83 closed

[2018-10-15 16:16] iamonuwa commented on #31
@gitcoinbot work in progress

[2018-10-17 12:33] VladislavIvanov commented on #31
Hey @iamonuwa ! You have to run `etherlime ganache` on another terminal window.

[2018-10-17 13:50] iamonuwa commented on #31
Alright.

[2018-10-20 11:12] vlad0 opened #90 "solidity-coverage path is wrong because it references node_modules folder"
Hello,

Node.js version: `9.11.2`
npm version: `5.6.0`

FIle: `etherlime/cli-commands/etherlime-test/test.js`
Line: https://github.com/LimeChain/etherlime/blob/master/cli-commands/etherlime-test/test.js#L6

Code sample:
[code]

Package shouldn't be referenced by its path to `node_modules`, e.g.:
File path: `node_modules/etherlime/cli-commands/etherlime-test/test.js`
Referenced relative path: `./..

[2018-10-26 15:19] Perseverance commented on #90
Thank you @vlad0 for helping. We will merge it soon

[2018-11-06 08:04] VladislavIvanov opened #97 "Implement 0x sol-trace"

[2018-11-06 08:06] VladislavIvanov opened #98 "Setup keen.io analytics (includes payments setup). Setup opt-out of the analytics"

[2018-11-06 08:08] VladislavIvanov opened #99 "Show gas usage per unit test"

[2018-11-13 07:40] frankchen07 commented on #31
@Perseverance - should we return this bounty to open status? It seems like the last PR did not fulfill the requirements.

[2018-11-13 08:59] Perseverance commented on #31
@frankchen07 - I believe so. It's normally something you'd do in hours not days (sorry iamonuwa)

[2018-11-13 16:52] mkosowsk commented on #31
@frankchen07 I toggled `Remarket Ready` for the issue 👍

[2018-11-15 10:52] thcrnk opened #102 "Deploy to work with Ledger or Trezor"
It would be awesome if we could run the deployment script and approve each transaction from our connected ledger.

[2018-11-15 11:03] thcrnk opened #103 "Implement etherlime flatten command - Solidity Flattener"
If a smart contract uses imports in order to be verified on etherscan all the code should be in one file.

[2018-11-22 16:26] failfmi opened #106 "solidity-coverage compilation optional parameters"
It would be good to have optional parameters (e.g solc version, list, docker, etc.)

[2018-11-23 05:30] Perseverance opened #107 "Add contract code verification functionality to the deploy API"
Add .verify method to a deploy contract that flattens it and sends it to etherscan. Show the report.

[2018-11-27 06:37] edmundedgar opened #113 "Show network ID in history"
`etherlime history` is a really handy way to look back later and check what you deployed and which address it went to.

It would be useful if it showed the network ID, so you could see what you deployed to which network.

[2018-11-27 07:54] Perseverance commented on #113
Hey @edmundedgar Awesome idea. Will implement that shortly :). Anything else that you feel might be improved or done better?

[2018-11-27 11:26] RyRy79261 opened #115 "Solc compiler set latest despite explict environment setting"
## Expected behavior
This is my first run at EtherLime but I expected that after running the test command would compile and it fails to deploy due to compiler mismatch, I have force installed solc@0.4.24 both globally and locally in the project but the same issue persists

## Environment
Windows 10 Latest

## Steps to reproduce
1. Globally install etherlime through npm as per docs
2. run `etherlim

[2018-11-27 11:36] Perseverance commented on #115
Hey, this is already fixed. Will be released with the latest etherlime version today. Thanks for noting it up :)

[2018-11-27 11:49] Perseverance commented on #115
ver 0.9.15 released. Closing this. Feel free to reopen it if it does not fix it

[2018-11-27 12:45] RyRy79261 commented on #115
## 0.9.15 update

While the init project example test runs successfully with a listener error from ethers

Attempting to run test in repo with contracts with pragma set to below 0.5.0 encounter the same errors event with specifying `--solc-version=0.4.24`

[2018-11-27 18:21] NikolayAngelov commented on #115
The problem is that the `etherlime test` doesn't currently support specification of Solc Version and when running the `etherlime test` it compiles the contracts with the version provided in the `node_modules`

I think we can add support for `--solc-version` in `etherlime test` command which will be good for future use as well.

[2018-12-11 12:24] bakasura980 opened #122 "[ETHERLIME-TEST] Have not access to mocha timeout functionality"
Some of my tests need more than 2000ms to execute. I should have a way to increase the mocha default time.

Hint: In etherlime-test.js attach `mocha` to the `global` object and in tests, access timeout function as follow:
`mocha.timeout(YOUR TIME)`

[2018-12-11 14:20] NikolayAngelov commented on #122
Hello bakasura980,
It is already possible to access the ```mocha``` instance inside your tests via ```this```, but you need to make sure that you are not using ```arrow``` function as they change the ```this``` reference.
Example:
[code]
In case you are using normal function ()  { } declaration the ```this``` will be pointing to the **mocha** and you will be able to set your desired ```timeout```

[2018-12-11 14:32] #122 closed

[2018-12-21 15:42] #73 closed

[2018-12-27 14:04] rkalis commented on #31
It appears that no work is being done on this ticket?

I could add setters for the (optional) parameters of all deployer classes in the `deployer/` folder and test the new functions to make sure they're behaving as expected and without side effects.

[2018-12-31 11:42] #69 closed

[2019-01-05 14:50] Perseverance commented on #115
Fixed in https://github.com/LimeChain/etherlime/pull/134 included in 0.10.2

[2019-01-05 23:05] pbteja1998 commented on #31
@Perseverance I want to work on this issue if it is open. I can't provide the complete action plan right away as I have to familiarize myself with the code base. Please tell me if it is open, I will start the work right away.

[2019-01-06 18:42] #115 closed

[2019-01-07 08:10] saitam1 opened #135 "npm install etherlime fails"
`sudo npm install etherlime
`
gives me this:
[code]
I am running the process with sudo, so I don't know why the permission error. Is it an etherlime problem or a npm error?

[2019-01-07 09:33] saitam1 commented on #135
This can be closed, solved it with:
[code]

[2019-01-07 09:33] #135 closed

[2019-01-07 09:38] Perseverance commented on #31
@pbteja1998 Yes please do
@mkosowsk Lets give this ticket to @pbteja1998

[2019-01-07 09:39] saitam1 opened #136 "`etherlime deploy` fails with Error: invalid sender"
I am trying to deploy a contract with `etherlime` to a private permissioned `Quorum` network:

`etherlime init    --> OK`

`etherlime compile --> OK`

`etherlime deploy  --> Error`

Error:

[code]
But the sender is actually valid! The address was derived from the `privateKey` I have passed to `JSONRPCPrivateKeyDeployer` and it is listed in `personal.listAccounts` when I make the check in the geth

[2019-01-07 09:41] Perseverance commented on #136
Can you show us the deploy script (you can edit sensitive data)?

[2019-01-07 09:44] saitam1 commented on #136
[code]

[2019-01-07 09:54] ochikov commented on #136
@saitam1
Hello,
Can you try to omit the 'defaultConfigs' parameter from the 'JSONRPCPrivateKeyDeployer' and paste your results here.

Thank you.

[2019-01-07 10:17] saitam1 commented on #136
Thank you for the offer, I will gladly accept it later, cause I am on my way right now.
I have tried to deploy without ` defaultConfigs` but still have the same error. Does it help if I post the whole error message here? I will wipe out the chain data anyway later:
[code]

[2019-01-07 10:22] rkalis commented on #31
I commented around ten days ago that I could start work on this.

[2019-01-07 10:56] ochikov commented on #136
@saitam1
Can you verify that you pass on JSONRPCPrivateKeyDeployer, the private key, not the address of the account ?

[2019-01-07 11:01] saitam1 commented on #136
I am getting it via `web3.eth.accounts.decrypt` from the JSON keystore file. Just checked it once again, I am passing the private key, not the address

[2019-01-07 11:06] saitam1 commented on #136
In the error message I see `"id":42`, this is actually the kovan network. Is there a way to pass the network id? I tried ´network_id: "*"` like in truffle, but it didn't work

[2019-01-07 11:20] ochikov commented on #136
@saitam1 In the current version of Etherlime we support providing a nodeUrl.
Can you try something, so we can be sure that your installed version of etherlime works:
1. Run etherlime ganache
2. Use one of the 10th private keys and try to deploy using the default local node that etherlime ganache expose on 'http://localhost:8545/'

If you are able to deploy there, we will continue to find solution

[2019-01-07 11:43] saitam1 commented on #136
worked:

[code]

[2019-01-07 12:11] ochikov commented on #136
@saitam1 I think that the problem comes from how ethers.js is interacting with Quorum network. Can you test the following thing:
Can you modify the 'defaultConfigs' to look like this and then pass it ot the 'JSONRPCPrivateKeyDeployer':

const defaultConfigs = {
		gasPrice: 0,
		gasLimit: 4700000,
		chainId: 0
	}

[2019-01-07 13:08] Perseverance commented on #31
@rkalis Sorry for missing that. I guess it is first come first served. @mkosowsk I guess it is better for @rkalis to get this.

[2019-01-07 14:18] pbteja1998 commented on #31
@rkalis you take this up :)

[2019-01-07 16:03] saitam1 commented on #136
Still getting the same error `Error: invalid sender`

[2019-01-08 09:38] saitam1 commented on #136
Quorum and Ethereum have a few differences. For example:

- If you use `web3.eth.sendTransaction(transactionObject [, callback])` and if the transaction was a contract creation you have to use `web3.eth.getTransactionReceipt()` to get the contract address, after the transaction was mined. In Ethereum you don't have to do this.
- With `raft` consensus some people have the problem that `truffle` get

[2019-01-08 15:32] RyRy79261 opened #140 "`etherlime deploy` ignoring network flags"
## Expected behavior

Having deployment succeeding on local ganache, running `etherlime deploy --network=rinkeby` should attempt to deploy to rinkeby and then require a signing account or request the passing of a secret to the deployer

## Current behavior
`-network=...`, `--network=...`, `-network="..."`, `--network='...'` flags always result in defaulting to local ganache

## Requested change

E

[2019-01-08 16:32] #140 closed

[2019-01-08 17:57] Perseverance opened #142 "Add option for etherlime compile to create .abi files containing only the abi"
When I am developing in non-js language, sometimes I need only the abi and have to do a lot of manual work in order to get it. Add option to etherlime compile to generate me .abi files in addition to the .json files in order to use them fast and easy

[2019-01-10 09:39] ochikov commented on #136
@saitam1 Hello,
We have new version of etherlime -> 0.10.4. In this version we added the possibility to set `chainId` parameter in order to manually set the chainId of the node. With this functionality we managed to deploy a simple smart contract on Quorum network with custom provided `chainId`. Thank you for the opened issue and for provided help solving it!

[2019-01-12 08:20] Perseverance commented on #31
Resolved by @rkalis via #141

[2019-01-12 08:20] #31 closed

[2019-01-20 20:59] Perseverance commented on #31
@mkosowsk can you check this issue and close it - @rkalis has completed it

[2019-01-21 07:37] BenSchZA commented on #97
Is this essentially a stack trace for failed transactions? It would be cool to integrate the 0x project `sol-trace` into Etherlime: https://sol-trace.com/ ~ "Human-readable stack traces - Immediately locate Solidity errors and rapidly debug failed transactions"

[2019-01-21 07:39] BenSchZA commented on #27
We've been using `truffle debug` with their variable inspection alongside Etherlime. Somehow integrating that tool into Etherlime would be great. Although for now using them together works just fine.

[2019-01-21 08:14] Daniel-K-Ivanov opened #150 "Compile only certain contracts"
Use case:
I have several contracts in my project. Some of them are already deployed and used in production.

[code]

Currently there is no way I can specify only the `old-contracts` to be compiled.

It would be nice to have a feature so that I can specify a certain contract that I want to compile. Compiling whole folder folder would be nice to.

for e.g:
[code]

[2019-01-22 13:22] Perseverance commented on #136
@saitam1 has this been resolved? Can I close it?

[2019-02-06 15:11] NikolayAngelov opened #160 "Cannot Install Etherlime"
Just DELETE this i am stupid :D

[2019-02-06 15:12] #160 closed

[2019-02-13 15:14] #136 closed

[2019-02-13 15:15] #98 closed

[2019-02-13 15:15] #113 closed

[2019-02-13 15:15] Perseverance commented on #113
Implemented in 1.0.0

[2019-02-21 09:48] RyRy79261 opened #170 "Minor Feature Request - Pass optimiser flag in tests"
## Current behavior

Currently to run tests using the compiler's optimizer, you need to use `etherlime compile --runs=999` followed by `etherlime test --skip-compilation=true`

## Proposed behavior

Being able to pass a `--runs=990` flag in `etherlime test`

[2019-02-21 14:11] RyRy79261 opened #171 "Documentation Addition - Encoding Function data"
### Outline

Documentation for Etherlime does not indicate how to create an encoded version of a function call for creating transactions manually.

### Context

Creating a list of signed transactions for batched execution.

[2019-02-26 05:54] thegostep commented on #99
Hey! Any update on integrating this feature? Would love to see compatibility with eth-gas-reporter

[2019-02-26 06:06] NikolayAngelov commented on #99
Hello @thegostep
I was planning on working on this and I have tried a few things just to gain the idea of what is possible and what's not.
I was not aware of the existence of `eth-gas-reporter` and just checked it briefly and will be helpful,
Anyway, just go for it in case you want to make it :) Just please tell me, so I can work on something else when I have the free time.

[2019-02-26 06:12] thegostep commented on #99
Hi @NikolayAngelov

Unfortunately I don't think I have the skillz needed to implement myself :(

[2019-02-26 19:37] ochikov commented on #65
This is already done in version 1.0.0

[2019-02-26 22:02] thegostep commented on #99
@NikolayAngelov Here is a tip if you can implement this today :)

[2019-02-27 05:45] NikolayAngelov commented on #99
Sure. I will try to make it in a day :)

[2019-02-27 16:23] NikolayAngelov commented on #99
Just made a PR #178 for this issue.

Currently, it supports only basic Gas reporting per test.
It doesn't have the functionality to make a full report for which method has been called and how many times.
I will continue working on making that possible, but it will probably take more then a day of work.

This is because we currently have no easy way to get all information that is needed to record w

[2019-02-28 12:06] ochikov commented on #65
This issue is resolved!

[2019-02-28 12:06] #65 closed

[2019-02-28 12:07] ochikov commented on #27
Ethereum Transaction debugger is integrated in etherlime in version 1.0.0.

[2019-02-28 12:07] #27 closed

[2019-02-28 15:27] ochikov commented on #99
The solution provided by @NikolayAngelov is already merged in master branch and will be released soon.

[2019-02-28 21:33] NikolayAngelov commented on #99
I have received the ETH and this can probably be closed.
Thank you very much for the tip @thegostep. I really appreciate it.

[2019-03-02 13:27] amiromayer opened #184 "Add HD wallet derivation to Etherlime Ganache"
We certainly need more than 10 accounts for 🍋 Etherlime Ganache.
Currently Etherlime Ganache has all the wallets hardcoded in a JSON file.
We need to derive them from mnemonic phrase using HD wallet as described [here](https://docs.ethers.io/ethers.js/html/api-wallet.html)

This way we will be able to derive as many accounts as we want.

Consider also adding a CLI option like etherlime `etherlime

[2019-03-03 19:03] BenSchZA commented on #184
I think that's a great idea. When I eventually get around to cleaning up the Ganache alternative feature branch, this would be a useful feature there too: https://github.com/LimeChain/etherlime/pull/154 .

[2019-03-03 19:37] NikolayAngelov commented on #184
Hello guys.
Actually, I think that there is a better approach then touching the `Ganache`.

My idea is that instead of changing the current `Ganache` functionality to actually make the proposed `--generate` command to just write the new accounts needed to the `setup.json` and then just continue executing the normal way.
Besides that, we can have an `etherlime ganache load mnemonic` which will do t

[2019-03-05 15:48] amiromayer commented on #184
Hi, Nikolay. Why not consider `etherlime ganache --mnemonic "radar blur cabbage chef fix engine embark joy scheme fiction master release" --generate 25` which will write 25 accounts derived from mnemonic to `setup.json` so that we can then use `etherlime ganache` as usual without needing to `generate` every single time?

[2019-03-05 15:54] NikolayAngelov commented on #184
That is exactly what I said :)

[2019-03-05 16:07] amiromayer commented on #184
Sorry, might have misunderstood some parts 😄.
Anyway, cool then, I like this approach.

[2019-03-12 17:33] thegostep opened #187 "Error: Attempting to run transaction which calls a contract function, but recipient address is not a contract address"
Hi, I am getting this error when running etherlime tests on ganache:

[code]

It occurs on a simple call to a getter:
`let dataHash = await contract.getDataHash(user.address, prevHash, data);`

Which has been initiated as such:
[code]

[2019-03-12 17:39] thegostep commented on #187
Found the issue. Contract inherited from an interface with an unimplemented function and therefore was deployed as abstract and without bytecode.

[2019-03-12 17:39] #187 closed

[2019-03-13 06:44] thegostep opened #188 "utils.timeTravel() in tests causes ganache instance to crash"
Javascript invocation:
`await utils.timeTravel(deployer.provider, ethers.utils.bigNumberify('86400'));`

Surprisingly, setTimeTo() works as expected:
`await utils.setTimeTo(deployer.provider, ethers.utils.bigNumberify((await deployer.provider.getBlock("latest")).timestamp).add('86400'));`

Full ganache error message:

[code]

[2019-03-13 07:11] NikolayAngelov commented on #188
Hey @thegostep.

Have you tried passing a normal number to the `timeTravel()`?

```wait utils.timeTravel(deployer.provider, 86400);```

[2019-03-14 15:31] thegostep commented on #188
Yes ! This did the trick. Is it because ganache uses BN.js and is not compatible with BigNumber.js ?

[2019-03-14 15:58] thegostep opened #189 "Compilation warning message Invalid asm.js: Invalid member of stdlib"
I get the following warning when running compilation:
`(node:30287) V8: :3 Invalid asm.js: Invalid member of stdlib`

It does not prevent the compilation from completing successfully and seems to be solved by adding solc as a dependency.

[2019-03-14 17:28] thegostep commented on #189
I found this only happens when there is a truffle-config file in the directory.

[2019-03-20 04:11] amiromayer commented on #184
Hi there, any update on this issue?

[2019-03-20 20:59] #188 closed

[2019-03-29 02:32] fredfortier opened #195 "Increase Test Timeouts"
I'm trying to increase the test timeouts but the mocha method `this.timeout(5000)` does not work. Any suggestions?

[2019-03-29 16:06] desimira commented on #195
`this.timeout()` doesn't work in arrow function, i.e. you need to write
[code]
If this is not the case, can you give us some code example.

[2019-04-11 11:03] ochikov commented on #189
Could you give us more information or a repo so our team could reproduce the issue?

[2019-04-11 11:08] ochikov commented on #150
This issue is already fixed. You can use these both optional params:

```buildDirectory``` - [Optional] Defines the directory for placing builded contracts.
```workingDirectory``` - [Optional] Defines the folder to use for reading contracts from, instead of the default one: ```./contracts```. Here can be specified also a single solidity file for compiling e.g: ```/contracts/LimeFactory.sol.```

[2019-04-11 11:08] #150 closed

[2019-04-15 18:40] ochikov commented on #195
Etherlime 1.1.1 gives possibility to pass ```timeout```  as optional parameter of running mocha tests. Please refer to: https://etherlime.readthedocs.io/en/latest/cli/test.html

[2019-04-15 18:40] #195 closed

[2019-04-15 18:41] ochikov commented on #184
This issue is now resolved. We have implemented the desired optional parameters for ```etherlime ganache``` command. Please refer to: https://etherlime.readthedocs.io/en/latest/cli/ganache.html

[2019-04-15 18:41] #184 closed

[2019-04-15 18:43] ochikov commented on #106
This issue is resolved. Please refer to: https://etherlime.readthedocs.io/en/latest/cli/coverage.html

[2019-04-15 18:43] #106 closed

[2019-04-23 13:25] MohamedLEGH opened #203 "etherlime bytecode output is different from solcjs output"
Using the same contract and the same solc compiler version, I have 2 different bytecode with solcjs and etherlime.

Example with LimeFactory contract:

[code]

solcjs (version 0.5.7+commit.6da8b019.Emscripten.clang)
[code]
bytecode (I added the 0x at the beggining) :

[code]

etherlime ( version 1.1.1)
solc version : 0.5.7+commit.6da8b019.Emscripten.clang

[code]

bytecode :

[code]

I can verity

[2019-04-24 12:27] Daniel-K-Ivanov opened #204 "Cannot use etherlime without internet connection"
Etherlime has dependencies that require executing HTTP calls. When using it offline, etherlime is failing hard.

I've tried:
`etherlime ganache`
`etherlime test`

See attachments below:
<img width="1102" alt="Screenshot 2019-04-22 at 13 34 21" src="https://user-images.githubusercontent.com/12232750/56659232-3ec14000-66a5-11e9-8434-ba5192e96303.png">
<img width="1610" alt="Screenshot 2019-04-22 at

[2019-04-30 18:56] saitejakuruva commented on #189
I am also facing the same issue (node:24323) V8: /Users/saitejakuruva/Documents/Lottery/node_modules/solc/soljson.js:3 Invalid asm.js: Invalid member of stdlib

[2019-05-02 06:38] #170 closed

[2019-05-06 11:48] jtakalai opened #207 "Feature idea: test support for unit testing reorgs"
TasitSDK seems to [test for reorganizations](https://github.com/tasitlabs/TasitSDK/blob/master/packages/tasit-action/src/contract/Contract.test.js). They've rolled their own [testing harness on top of ethers.js](https://github.com/tasitlabs/TasitSDK/blob/master/packages/tasit-action/src/testHelpers/helpers.js).

TasitSDK's work is by no means general testing setup for reorgs, so that feature would

[2019-05-07 13:48] Daniel-K-Ivanov opened #209 "Enhance assert.rever with revert message"
It would be better if the `assert.revert` is enhanced with another parameter - `revert message`.

Sample code that does that:

[code]

[2019-05-14 13:48] ochikov commented on #189
@saitejakuruva Could you please provide a github repo where we can reproduce the issue ?

[2019-05-14 13:51] ochikov commented on #103
@thcrnk  We have implemented this feature. More about the feature itself and how to use it, you can find here: https://etherlime.readthedocs.io/en/latest/cli/flattener.html

[2019-05-14 13:51] #103 closed

[2019-05-14 13:52] ochikov commented on #99
More about the feature here: https://etherlime.readthedocs.io/en/latest/cli/test.html

[2019-05-14 13:52] #99 closed

[2019-05-14 14:17] saitejakuruva commented on #189
@ochikov find the entire details over here https://github.com/saitejakuruva/Smartcontracts-ETH

[2019-05-17 12:10] ochikov commented on #203
Hello @MohamedLEGH
This might be because up to now, we were using `byzantium` for evmVersion. From solc version 0.5.5 the default `evmVersion` is `petersburg`. We updated our code and now the latest version is 1.2.0.
We also have automatic verification of smart contracts. I encourage you to use it. It is simply used by changing the deployer method from `deployment.deploy` to `deployment.deployAndV

[2019-05-20 10:03] MohamedLEGH commented on #203
There is still some diff between solcjs and etherlime compile :

soljs:
[code]

etherlime :

[code]

The deploy.deployAndVerify method works well so it's not very important. You can close this issue if you want.

[2019-05-20 11:29] Daniel-K-Ivanov opened #217 "Add support of Basic Authentication for the Deployer"
I want to deploy contracts on a node that has basic authentication using
[code]

`ethers.js` supports basic authentication when instantiating provider by doing:
[code]

The solution would be to be able to instantiate JSONRPC Deployer and add the user/pass data:
[code]

[2019-05-20 11:32] ochikov commented on #107
This is already done in version 1.2.0. You can read more about here: https://etherlime.readthedocs.io/en/latest/api/deployers.html#deployandverify-contract-libraries-params

[2019-05-20 11:32] #107 closed

[2019-05-20 11:36] ochikov commented on #203
Hey @MohamedLEGH only the last line is different and I believe that this is a contract Metadata information generates from Path of the contract. Do you compile the contract from the same directory with both the libraries ?

[2019-05-20 11:38] ochikov commented on #142
This is already included in version 1.2.0. More about this option here: https://etherlime.readthedocs.io/en/latest/cli/compiling.html

[2019-05-20 11:38] #142 closed

[2019-05-20 14:43] MohamedLEGH commented on #203
Ok I found the problem. I was using relative path with socjs but ```etherlime compile``` use full path to find the file. When I use the full path with solcjs I get the same binary output.

[2019-05-22 15:39] ochikov opened #223 "Could not deploy Vyper Contracts - v.1.2.0"
Version 1.2.0 has issue with deploying vyper contracts.

[2019-05-23 06:18] edmundedgar opened #224 "Add feature to register method names for display in MetaMask etc"
MetaMask has a feature to preview method calls in the transaction confirmation window so that the user can tell what method they're calling.

Per
https://metamask.github.io/metamask-docs/Best_Practices/Registering_Function_Names
MetaMask uses the Parity on-chain registry of function signatures for this.

It would be useful if I could say to Etherlime, "please register all unregistered external fun

[2019-05-23 07:27] Perseverance commented on #224
Thanks @edmundedgar . Will take a look over it when we finish etherlime 2.0 migration (which is almost done). Probably will have something for you next week :)

[2019-05-23 07:55] montyly opened #225 "Missing mocha dependency"
Hi,

From a fresh installation, I have this issue with the 2.0.0 release:
[code]

`mocha` was present in the dependencies for 1.2.0 (https://www.npmjs.com/package/etherlime/v/1.2.0), but is not anymore in 2.0.0 (https://www.npmjs.com/package/etherlime/v/2.0.0).

The script is [this one](https://github.com/crytic/slither/blob/master/scripts/travis_test_etherlime.sh#L13-L14), and the full error log

[2019-05-23 11:32] ochikov commented on #225
Hello @montyly, the issue is on our side. Thank you for reporting it. We are working to resolve it.

[2019-05-23 12:56] ochikov commented on #225
Hello @montyly Etherlime v2.0.1 was released fixing the issue.

[2019-05-23 13:29] montyly commented on #225
Great, thanks for the quick fix!

[2019-05-23 13:29] #225 closed

[2019-05-23 14:02] ochikov commented on #225
You are welcome!

[2019-05-28 08:20] ochikov commented on #223
This bug is solved with version 2.0.0.

[2019-05-28 08:20] #223 closed

[2019-05-29 14:53] #203 closed

[2019-05-31 18:51] javaadpatel opened #232 "how to get contract balance"
Hi, might have missed this in the docs, how do i get the balance of a contract after assiging an instance using:
`const investmentInstance = await etherlime.ContractAt(Investment, contractAddress);`

also, is:
`await investmentInstance.invest({value: initialInvestmentWei});` the correct way to send money into a contract using etherlime

[2019-05-31 19:15] Perseverance commented on #232
Hey @javaadpatel , in order to avoid conflicting methods we've not added "checkBalance" or "send" function directly in the contract instance. Here is how you can do the two things you want with ethers ( I will make sure to add them in the docs, and maybe add them in a special "utils" field of the contract instance in the future.

### Sending money with contract function invocation
If you want to a

[2019-05-31 19:32] javaadpatel commented on #232
that worked perfectly, thanks so much.

[2019-05-31 19:32] #232 closed

[2019-06-01 11:57] javaadpatel opened #233 "Reset Ganache timestamp"
Hi,

I'm writing some unit tests and one of them moves the ganache provider ahead a number of seconds using:
`var secondsMargin = 900; //this margin is because miners can edit the timestamp by 900 seconds
        var timeTravelSecondsRequired = parseInt(
            moment.duration(
                moment.unix(investmentDetails.deadline).diff(moment())
                ).asSeconds()

[2019-06-01 19:20] javaadpatel commented on #233
I have changed my code now to be based on the current ganache block time,  and I am getting the blocktime using:
`function getBlockTimestamp() public view returns (uint){
        return block.timestamp;
    }`

but occasionally, the ganache blocktime comes out insanely high, and when i look at the ganache logs i see "Block Time: Invalid Date":
![image](https://user-images.githubusercontent.com/228

[2019-06-01 19:30] NikolayAngelov commented on #233
Hello @javaadpatel

I can suggest two different approaches when trying to test with TimeTravel.
First one is having separated deployments of the contract for your test suites. This means that you have different Describes for different kind of tests and where you test time travel you have a separated deployment (describe) which holds all the test that will be in the future. With this way, you usual

[2019-06-01 19:49] javaadpatel commented on #233
I'm leaning towards the second method you described because I would like to write a test where: Investment is made -> Time passes (simulated using timeTravel) -> investment can be withdrawn (because some deadline has been passed).

would it be possible to give an example of the snapshot syntax and how i would implement it in a beforeEach and afterEach block?

i tried this:

[code]

but i am gettin

[2019-06-01 19:59] NikolayAngelov commented on #233
Usually what you did should work but from what I see those `utils` functions do not exist in the current Etherlime version. I guess the Team removed them in some of the versions maybe they were not working properly or something.

[2019-06-03 07:11] ochikov commented on #233
Hello @javaadpatel & @NikolayAngelov. We are going to add these utils functions in the next release. Sorry for the inconvenience.

[2019-06-03 07:29] javaadpatel commented on #233
Hi @ochikov , its all good, really appreciate the library so something this small is not really an issue. I've noticed that I get the "Block Time: Invalid Date" error from etherlime ganache, if i timeTravel too far into the future, so i've just moved all my tests that use timeTravel into a seperate describe block so they are not run everytime but only when i specifically want to test that logic.

[2019-06-03 07:29] #233 closed

[2019-06-13 19:03] thegostep opened #237 "Compilation does not reach nested contracts folders"
Compilation should recurse down the file tree and compile all contracts.

[2019-06-13 19:04] ochikov commented on #237
Thank you @thegostep. We will look into that issue.

[2019-06-13 19:05] thegostep opened #238 "Compilation with relative path imports fails when specifying working directory"
Compiler cannot find imported files which are in a folder nested inside the working directory specified. Error returned is : `File import callback not supported`

[2019-06-13 19:07] ochikov commented on #238
Hello @thegostep, we will look into that issue. Thank you.

[2019-06-14 15:18] #237 closed

[2019-06-19 08:49] RyRy79261 opened #240 "[Feature Request] Devnet intergration as Ganache alternative"
## Context

We've had multiple issues with Ganache where transactions are reverted on Ganache, yet succeed in Remix with the JavaScript VM. This has rendered the standard Etherlime packages unusable to us.

## References
[Our fork](https://github.com/BenSchZA/etherlime/tree/temp-feature)
[Devnet testnet](https://github.com/0xProject/0x-monorepo/tree/development/packages/devnet)
[Pending PR](https:

[2019-06-26 06:23] Perseverance commented on #240
Hey @RyRy79261 upon investigation it seems that devnet is no longer maintained. I made an effort to make it work, but due to ethers version working with constantinople and post-constantinople EVM versions, I could not make the devnet work. At this point I am not sure if it makes sense to integrate it as the 0x team has said that they will not maintain it and the current version will only work for

[2019-06-26 08:54] RyRy79261 commented on #240
Thanks @Perseverance, I'll investigate alternatives with @BenSchZA next week and revert back

[2019-07-01 13:55] ochikov opened #245 "[Feature Request] Support input parameters of ganache-cli in etherlime ganache"
Please integrate all input parameters supported in ganache-cli in Etherlime Ganache.

[2019-07-02 11:25] ochikov opened #246 "There is no Contribution Guide in the documentation"
Please provide contribution guide to the Etherlime Monorepo.

[2019-07-08 07:01] #240 closed

[2019-07-10 17:16] thegostep opened #250 "Documentation should reflect need to import etherlime-lib and separate npm dependency"
Currently, `yarn add etherlime` does not import as a sub dependency etherlime-lib.

However, the examples in the documentation do not reflect the need to add etherlime-lib separately.

[2019-07-10 17:25] thegostep opened #251 "Deployed contract wrapper documentation should show contractAddress"
This page: https://etherlime.gitbook.io/etherlime/developer-documentation/etherlime-library-api/wrappers

Should show the address can be accessed with `deployedContract.contractAddress`

[2019-07-10 19:41] ochikov commented on #250
Thank you for your feedback. Actually, we provided migration guide and there we included the need of installation of `etherlime-lib`. We are going to improve also the other pages of the documentation.

[2019-07-10 19:42] ochikov commented on #251
Thank you for the provided feedback. Yes, we need to include that.

[2019-07-12 07:48] mcmonkeys1 commented on #31
Do you know this is still listed as an active project in gitcoin?

[2019-07-15 10:01] RyRy79261 opened #252 "Vyper compiler not functional on Windows 10 & WSL Ubuntu"
## Description
When Etherlime attempts to run the `docker run` command to compile Vyper, the console throws an invalid character issue.

Additionally, when running from a Linux subsystem which has the same pathing syntax as typical unix systems, the console throws an `invalid ELF` issue

[2019-07-18 10:29] desimira commented on #238
Hi, @thegostep! Can you confirm the problem still exists? If so, can you provide your repo so we can examine what's the case?  Thanks!

[2019-07-26 17:32] thegostep opened #257 "Modularize etherlime to reduce size of dependencies"
Is it possible to modularize the features in etherlime to reduce the size of the dependencies?

[2019-07-26 19:10] Perseverance commented on #257
Hey, Since 2.0.0 Etherlime CLI is separate from Etherlime-lib. You no longer need to include etherlime as dependency in your project. Etherlime-lib is very lightweight.

https://etherlime.gitbook.io/etherlime/developer-documentation/migration-to-new-version

Is there a specific feature you look to exclude?

[2019-07-29 07:28] #250 closed

[2019-07-29 07:28] #251 closed

[2019-07-29 08:29] ochikov commented on #257
@thegostep Did you try Etherlime > 2.0.0 versions ? Do you need something specific ?

[2019-07-31 19:12] thegostep opened #261 "CLI should exit with 1 on errors to integrate with CI tools"
Compilation and Coverage don't raise exceptions for TravisCI to catch during continuous integration.

![Screen Shot 2019-07-31 at 12 11 08 PM](https://user-images.githubusercontent.com/15959632/62240722-6bfc4900-b38c-11e9-8d92-b10b36c1354c.png)

[2019-07-31 21:09] thegostep opened #262 "EtherlimeGanacheDeployer should accept ethers provider as parameter"
This would allow for running tests without opening local ports. See examples: https://github.com/trufflesuite/ganache-cli#usage

[2019-07-31 23:03] thegostep commented on #257
I could imagine the compiler being a module and having a different package for vyper vs solidity. Maybe Coverage being a distinct module too.

[2019-07-31 23:05] thegostep commented on #257
The zk libs could be separate as well

[2019-08-01 17:35] thegostep commented on #261
test command seems to yield same behavior

[2019-08-02 13:04] Daniel-K-Ivanov opened #264 "Add "Testing" section in Etherlime docs"
Currently there is "Migration from truffle to etherlime" Section that contains "Assertions and available utils" section.

It would be helpful to have Testing section with that info. I didn't know where to look for the `assert.revert` util. Did not expected it to be in the `Migration` section

[2019-08-02 13:09] Daniel-K-Ivanov opened #265 "[Testing] Add `hasEvent` util that checks whether a transaction has emitted event and parameters of that event"
Very often we are asserting whether an event has been emitted in a transaction. It would be useful to have `hasEvent` util that checks that.

For example:
[code]

[2019-08-02 13:12] #265 closed

[2019-08-02 13:32] Daniel-K-Ivanov opened #267 "Global `utils` variable is not okay"
Generally speaking `utils` global variable is not okay, because every project has its own `utils` file.

To add on top of that - it is somewhat confusing. I personally did not expected to have global `utils` variable.

Suggestion:
replace the current `utils` global variable with `etherlime.utils` global variable.

Example usage:
Before:
[code]
Suggestion:
[code]

[2019-08-02 14:32] thegostep commented on #262
This is not currently possible using coverage

[2019-08-02 20:38] thegostep opened #268 "Support custom file path for deployAndVerify()"
`deployAndVerify()` returns an error if contract code is nested in folders.

Actual path: `./contracts/helpers/MockNMR.sol`
Error returned:
[code]

[2019-08-02 20:56] #268 closed

[2019-08-03 12:00] kenchangh opened #269 "Etherlime coverage does not work with ganache provider"
In my tests, I am using a `ganache-core` provider, that is attached to the `EtherlimeGanacheDeployer`. This is so that when I run the tests, I do not have to run `etherlime ganache` which opens a port and it is invoked directly in the script.

See the screenshot below on how it's done:

![Screenshot 2019-08-03 19 57 51](https://user-images.githubusercontent.com/5748750/62411654-04aef500-b629-11e9-

[2019-08-03 16:17] kenchangh opened #270 "Ignore directories in etherlime coverage"
Currently, the project I'm working on has a lot of OpenZeppelin contracts in the `contracts` directory. This clutters the `etherlime coverage` results.

Would be a good enhancement to ignore these directories of helper contracts that do not affect code coverage.

[2019-08-04 17:20] javaadpatel opened #271 "Wait for Transaction using only the hash"
I am generating a transaction using uPort and would like to use the etherlime to wait for the transaction to complete, usually I would use something like the below code to wait for the transaction, but with the uPort transaction all I have is the transaction hash.

Is there a way to use verboseWaitForTransaction and only pass the hash on which to wait?
[code]

[2019-08-04 19:03] ochikov commented on #269
Thank you for the provided issue. Can you post a repository, where we can test ?

[2019-08-04 19:05] ochikov commented on #270
Thank you for the provided issue. As soon as we fix your issue, we are going to release a new version and I am going to notify you.

[2019-08-04 19:23] ochikov commented on #271
Thank you for your issue. We are going to research and I will keep you updated. Do you have a repo where we can test during the development process ?

[2019-08-04 19:26] ochikov commented on #252
@RyRy79261 I think that your problem is already solved ?

[2019-08-04 19:29] ochikov commented on #257
@thegostep We are going to include the separation of zero knowledge proof libs in our roadmap as well. Thank you.

[2019-08-05 08:06] RyRy79261 commented on #252
@ochikov yes in 2.5.7, closing it now

[2019-08-05 08:06] #252 closed

[2019-08-05 08:13] javaadpatel commented on #271
Hi @ochikov , thanks for looking into this. I currently don't have a repo as I've been working locally but i'll be pushing my code up soon and then will post a link to the repo.

Ideally, this is what I'm looking to do:

[code]

[2019-08-05 12:18] ochikov commented on #269
@kenchangh I tried your implementation but I am getting connection error which makes me thing that we need a ganache running as a server and a port that we can listen on, because the coverage is collecting traces after each call.
I will continue researching it.

[2019-08-05 12:20] ochikov commented on #238
@thegostep I think that this bug no longer exists.

[2019-08-07 12:58] ochikov commented on #269
I don't think that this is possible at this moment because for the purpose of the coverage we use `web3-provider-engine` library and add two providers - one for deployment and one for debugging (used for coverage). When in your code you call `setProvider` you overwrite the provider. I tried to add the provider which comes from ganache to the `web3-provider-engine` instance provider, but they do no

[2019-08-07 13:01] ochikov commented on #262
Yes, it is not possible for using it with coverage. I explained why [here](https://github.com/LimeChain/etherlime/issues/269#issuecomment-519084701)
I am closing this issue because of duplication with #269

[2019-08-07 13:01] #262 closed

[2019-08-13 08:03] Daniel-K-Ivanov opened #272 "Naming inconsistencies - Rename the `compile` path to `path` and not `dir`"
Currently there are inconsistencies for the naming of different parameters. For example:
When doing compile, the parameter for the path is `dir`
[code]

When testing, the parameter is `path`.
[code]
When using `coverage` the parameter is `path` as-well

and when deploying the parameter is `file`
[code]

For the deploy, it is okay to be file, however when it comes to directories, I think it would b

[2019-08-17 17:24] javaadpatel opened #273 "Etherlime Ganache: Resource not found"
Hi,
I've been running etherlime ganache command successfully but now when i try i get this error:

[code]

has anyone encountered this before?

[2019-08-17 18:00] javaadpatel commented on #273
required an update to etherlime, resolved after updating.

[2019-08-17 18:00] #273 closed

[2019-08-23 11:55] javaadpatel commented on #271
@ochikov sorry for the delay, this is a link to the file in my repo:
https://github.com/javaadpatel/ProjectPegasus/blob/8242e1dc74a9bf29b1c022c059b70cf08fbc2745/web/src/ethereum/investmentContract/investmentContract.js#L79

[2019-08-25 12:24] vbaranov opened #276 "Add support of contracts verification in BlockScout"
https://blockscout.com/
https://github.com/poanetwork/blockscout

BlockScout is a fully-featured open-source blockchain explorer for any EVM-compatible chains. POA network hosts multiple chains itself:

| Chain | Network ID | instance | API endpoint | API docs endpoint |
|:-----------:|:----------:|------------------------------------|:-----------------------------------------------:|-------------

[2019-08-25 14:49] #270 closed

[2019-09-16 12:32] ochikov commented on #276
Hello @vbaranov and thank you for the opened issue. We are going to include Blockscout verification in our roadmap. I am going to keep you updated!

Thank you,

[2019-09-16 21:10] thegostep opened #279 "Output errors in test using sol-trace"
https://sol-trace.com/

[2019-09-16 21:10] thegostep commented on #279
https://sol-profiler.com/ would be nice too

[2019-09-18 17:36] AC0DEM0NK3Y opened #281 "Using es6 style in tests."
Just trying this in place of truffle and while compile seems to go fine my tests fall over on something like:

`import expectThrow from '../helpers/expectThrow';`

In truffle the way to allow this syntax is with @babel dependencies added to the package.json and a .babelrc file and the below to the truffle-config.js to activate:

[code]

How can I do the same with etherlime?

Thanks.

[2019-09-24 06:40] ochikov commented on #281
Hello @AC0DEM0NK3Y, can you provide repository se we can tests and help resolve the issue ?

[2019-09-26 12:12] MohamedLEGH opened #282 "getting 0x bytecode with open zeppelin import"
This is my code :

[code]

When I run ```etherlime compile```, the contract is compiled without error but the bytescode is "0x". Same with flatten file.

Any idea how to solve this?

[2019-09-26 12:33] MohamedLEGH commented on #282
My bad, I forgot to add ERC20 import and call the mint function.
This is the good code :

[code]

With this code I get a bytecode and I can publish it on the blockchain.

[2019-09-26 12:33] #282 closed

[2019-09-26 19:18] thegostep opened #283 "ganache config file should be in home dir"

[2019-09-26 19:20] thegostep opened #284 "compile and ganache commands should expose full cli commands of underlying tooling"
for example, etherlime compile does not support optimizer, etherlime ganache does not support unlocked accounts.

It would make sense to make the CLI transparent such that it can pass these commands to the underlying package

[2019-09-26 21:21] ochikov commented on #284
Thank you for your enhancement proposal. We are going to include it in the roadmap.

[2019-09-27 16:34] AC0DEM0NK3Y commented on #281
Repo here: https://github.com/AC0DEM0NK3Y/etherlime_es6

master branch works with truffle.
etherlime branch compiles, fails on test.

The magic for the truffle version to work is this in truffle-config.js:

[code]

[2019-09-30 02:20] snario opened #285 "--solcVersion=native is not implemented"
As far as I can tell, `--solcVersion=native` is not implemented even though it is documented. Trying to get it working here: https://github.com/statechannels/monorepo/pull/86

[2019-10-07 13:26] ochikov commented on #285
@snario Can you install the latest version of etherlime (2.2.4) and test it.

[2019-10-07 14:58] ochikov commented on #281
Hello @AC0DEM0NK3Y
I go through your repository and special through the `etherlime` branch. I could not reproduce your issue because:
1. Your tests and import of contracts are truffle style, not etherlime.
2. Why there is .sol file in the tests ?

Can you go through the migration guide from truffle to etherlime [here](https://etherlime.gitbook.io/etherlime/developer-documentation/migration-from-tr

[2019-10-08 08:31] #269 closed

[2019-10-09 14:12] ochikov commented on #217
Solved with #260

[2019-10-09 14:12] #217 closed

[2019-10-09 14:16] ochikov commented on #284
Hello @thegostep, `etherlime compile` supports optimizer with the optional parameter `--runs`. You can read more about the command [here](https://etherlime.gitbook.io/etherlime/developer-documentation/etherlime-cli/compiling)

About the `etherlime ganache` command, I am going to include optional parameter for `unlocked_accounts`

[2019-10-26 18:37] javaadpatel opened #291 "VM Exception using etherlime ganache"
Hi, I was wondering if there are any differences between the ethereum virtual machine that is run with `etherlime ganache` and any others? I am experiencing a wierd issue where my transactions are failing with ` Error: VM Exception while processing transaction: revert` when running my tests but then when I test my contract using remix it works fine.

[2019-10-30 00:22] ngmachado commented on #291
Im getting the same error.

I pin down to external contract call.

Tests with remix and truffle and works.

[code]

[code]

[2019-11-04 08:42] Jaimeloeuf opened #292 "Getting injected items for external scripts."
When writing tests, we are provided with injected item like "accounts" which allow us to easily do stuff on the test net, etherlime ganache.

However for external scripts where you still want to interact with the same contracts on the same network, I would like to ask how would you be able to get the accounts value?

Currently I am using a method that I think might be some sort of a hack, where I

[2019-11-05 14:17] desimira commented on #292
Hi! To access an account, you can instantiate a wallet with `ethers` and pass the privatekey and the provider.
[code]
And you should have the account from the privatekey you have provided. Hope it helps! If you have other questions let us know! :)

[2019-11-06 09:00] Jaimeloeuf commented on #292
Just tested it and it does create the same format as expected, thanks! But may I know if there are any plans for etherlime to create and inject it into external scripts to use so we do not have to manually get the privateKey and create a wallet object? Because this seems to be slightly tedious when working with alot more accounts for testing, something like the injected accounts variable in etherl

[2019-11-06 09:00] #292 closed

[2019-11-10 09:07] leonprou commented on #276
We are using etherlime to deploy contract to our sidechain where we have only blockscout, so making this work would be _really awesome_ :blush:

[2019-11-11 08:25] Perseverance commented on #276
Thanks guys, we had some drawbacks on progressing on the roadmap. Blockscout integration is literally the next thing we plan on integrating with

[2019-11-13 14:28] AC0DEM0NK3Y commented on #281
I'm no longer working on this, but I think if you want to boost popularity of your framework and help teams migrate who already have a large bank of tests (for eg. I know we had close to 500) you might want to consider looking at this some more.

1. What the tests do is kind of immaterial, the bug is in the import yes...it's an es6 vs es5 problem your framework currently doesn't have a way to supp

[2019-11-14 17:37] geoknee opened #295 "etherlime deploy logs default port as well as override"
Steps to reproduce (MWE [here](https://github.com/geoknee/etherlime-example)):

1. Install etherlime
2. `npx etherlime init`
3. Modify
 `deployment/deploy.js`:
[code]
4. Start `ganache` on port 8546
5.
[code]
I don't think lines 2-4 belong in the output.

If `ganache` instead runs on port 8545, the deployment fails as expected.

[2019-11-18 15:06] desimira commented on #295
Hi! I think the problem causes because you are instantiating a new EtherlimeGanacheDeployer in the EtherlimeGanacheDeployer just to take the signer private key. Try ether to pass a privateKey as a param or to type undefined (it would take the default signer).
[code]

And it prints the following:
[code]

[2019-11-20 07:21] geoknee commented on #295
Thanks @desimira! This makes sense. I get the same behaviour on passing `undefined` instead of instantiating a new `EtherlimeGanacheDeployer`. I guess this means the original behaviour is as expected.

[2019-11-20 07:21] #295 closed

[2019-11-20 14:54] #285 closed

[2019-11-27 20:04] snario opened #296 "Fix TypeScript error in custom ethers.js"
I see this when running `tsc` on TypeScript 3.7.2:

[code]

[2019-11-27 20:05] snario commented on #296
Actually seems like `13c82e89991c3cbe81c51d1ceec453a43dbb4415` on `LimeChain/ethers.js` fixed it. Needed to clear `yarn` cache.

[2019-11-27 20:05] #296 closed

[2019-11-29 12:29] Nicca42 opened #297 ""Error: contract not deployed" when all indications say it is deployed"
In a `js` test, I'm deploying a contract the same way I always do, but I keep getting "Error: contract not deployed" when I try interact with it.
![image](https://user-images.githubusercontent.com/42095633/69868706-33756900-12b3-11ea-96f9-e9f9283e0d58.png)

The `console.log` ablove prints the contract object (fully populated, wallet, provider, bytecode, abi etc).

But as soon as I try fire a funct

[2019-11-29 12:36] Nicca42 commented on #297
🤦‍♀️Hadn't implemented all inherited functions. All gucci

[2019-11-29 12:36] #297 closed

[2020-01-04 09:24] elenadimitrova opened #298 "Assorted "call stack depth" errors when running coverage"
The following are errors when trying to run coverage against the [argent repo](https://github.com/argentlabs/argent-contracts)

`etherlime coverage` produces
[code]
Picking a small subfolder with just a couple of base contracts and running
`etherlime coverage --runs=200  --workingDirectory=./contracts/base`
compiles and starts to run tests successfully but has numerous of the following messages
[c

[2020-01-05 12:14] ochikov commented on #298
Thank you for your issue. We will investigate the problem. I am going to keep you updated.

[2020-01-08 09:35] ochikov commented on #298
@elenadimitrova
I cloned the repo and reproduce all the errors that you have described.

The issue with the `Maximum call stack size exceeded` is coming from storing more than 1024 items in the stack. I am going to make deeper research and then I will try to propose you a workaround.

The issue with testing only the `base` folder is that we are creating coverage-artifacts (compiling) only the cont

[2020-01-10 13:35] elenadimitrova commented on #298
Is this an `etherlime` issue or are you talking about the tests in the argent repo?

Also I don't understand your question at the end. Do you mean if we can pick the tests which use _just_ the compiled contracts for coverage?

[2020-01-10 13:40] ochikov commented on #298
- I think it is an issue with 0x sol-compiler, which does not handle cyclical dependency in solidity.

Right now, we are currently working on implementing solidity-coverage library in etherlime. (Expecting release is in the next week).

- Yes, that is exactly what I mean. Could you help me to run test files that are particularly testing selected contracts for coverage ?

[2020-01-10 14:39] elenadimitrova commented on #298
Thanks. I was going to ask about using `solidity-coverage` which has recently been modularised better for this sort of integration but you beat me to it. It's great to know you're looking to integrate it.
On the second question, it would be rather difficult to incise tests that just run on a subset of contracts, plus I do need it running on the entire contracts folder not just the `base` one I pic

[2020-01-10 22:07] cgewecke commented on #298
@ochikov Hi, I help maintain solidity-coverage. If you run into any difficulties with the API (or have suggestions about how to improve it for your case) please just lmk.

[2020-01-17 09:06] ochikov commented on #298
Hey @cgewecke, how are you ?  I have implemented the `solidity-coverage` library in a separate development branch. I used [argent repo](https://github.com/argentlabs/argent-contracts) to test it, but there is a problem compiling the `instrumented` contracts. If I compile the raw contracts, they are compiling successfully. Once I `instrument` them with `solidity-coverage`, the following error occur

[2020-01-17 09:39] cgewecke commented on #298
@ochikov I'm not sure exactly what's going on there yet but I was able to get compilation to succeed using one of the existing plugin implementations if I set `.solcover.js` like this:
[code]
... which skips instrumentation for all the contracts in the test folder. Did you build in the ability to use a solcover config file? All you really have to do is load it and pass it to the API constructor. A

[2020-01-17 09:42] cgewecke commented on #298
I think the problem is that there are non-solidity files in the contracts folder getting passed to the compiler. Uniswap JSONs at https://github.com/argentlabs/argent-contracts/tree/develop/contracts/test/uniswap

[2020-01-17 10:12] elenadimitrova commented on #298
For the purposes of getting `solidity-coverage` working with `etherlime` we don't need the `test` contracts covered for now @cgewecke . @ochikov you can even use a simpler project for testing if you prefer, it doesn't have to be the argent contracts base.

[2020-01-17 11:12] ochikov commented on #298
@elenadimitrova I've already implemented it and test it with simplе projects. It is perfectly working. I just wanted to test it with your repo, because it is quite complex.
I am going to try the @cgewecke approach.

[2020-01-18 00:56] cgewecke commented on #298
Investigated a bit more: suspect the problem is the number & size of the contracts in the Argent repo. Compilation succeeds even if you skip a subset of the `test` contracts, (e.g. `test/maker`, or `test/compound`). Did not find a specific contract which is problematic.

RE: size, by way of comparison with another large project
+ Argent is 141 contracts / ~750KB of Solidity text.
+ Zeppelin (minus

[2020-01-21 11:43] HristiyanG opened #299 "[Feature request] add update parameter to init command"
Have you considered to add *update* param in the init functionality?

For example, while releasing a new version of *etherlime*, it would be great if you could update via the CLI directly. (smth like etherlime init --update)

Cheers,
Hris

[2020-02-01 11:34] robin-thomas commented on #34
Any updates on this?

[2020-02-06 14:41] elenadimitrova opened #301 "Enable logging events when testing"
I haven't been able to find a way to log all emitted events to the console when testing, similarly to how `truffle test --show-events` works, see  https://www.trufflesuite.com/docs/truffle/reference/truffle-commands#test

[2020-02-07 09:23] elenadimitrova commented on #298
@ochikov is there a way to configure coverage to exclude the test folder?

[2020-02-07 09:26] ochikov commented on #301
Hello @elenadimitrova, we are going to work also on such a functionality. Thank you for your issue!

[2020-02-11 15:32] elenadimitrova opened #302 "etherlime flatten => TypeError: Cannot read property '0' of null"
This fails on all 3 contracts I tried from the [argent-contracts](https://github.com/argentlabs/argent-contracts) repo including simplified examples of having one import or no imports.

[code]

[2020-02-11 15:47] ochikov commented on #302
Thank you for your issue. We are going to investigate.

[2020-02-11 15:54] ochikov commented on #302
@elenadimitrova I found where the issue is coming from and I will do my best to release a fix soon! Thank you.

[2020-02-13 09:39] elenadimitrova opened #304 "Using contracts outside of contracts folder"
In an effort to minimise the amount of contracts in the /contracts folder in [argent-contract repo](https://github.com/argentlabs/argent-contracts) to help with generating coverage as [discussed here](https://github.com/LimeChain/etherlime/issues/298#issuecomment-575848711) we have extracted the ENS contracts in the lib folder at the same level as `/contracts`
This setup now returns the following

[2020-02-13 10:37] ochikov commented on #302
@elenadimitrova Could you try to install etherlime 2.2.6 and try the flatten command ?

[2020-02-13 11:20] elenadimitrova commented on #302
Yep that works, thanks.

[2020-02-13 11:20] #302 closed

[2020-02-13 11:21] ochikov commented on #304
Thank you for your issue. I am going to release the new coverage soon. In between 1-2 days.

[2020-02-17 14:39] elenadimitrova opened #306 "etherlime compile and deploy aren't failing correctly"
`etherlime compile` and `etherlime deploy` seem to be "hiding" errors causing CI service to think failing steps have passed. Sample green builds below for

Bad `etherlime compile` - see step "Compiling contracts"
https://circleci.com/gh/argentlabs/argent-contracts/77

Bad `etherlime deploy` - see step "Testing deployment scripts" and search for `Your deployment script finished with failure!`
https

[2020-02-18 08:08] elenadimitrova commented on #304
Any update here?

[2020-02-18 08:14] ochikov commented on #304
Hello,
I am finishing test scenarios in order to publish coverage with `solidity-coverage`

[2020-02-18 12:34] elenadimitrova opened #307 "Gas metrics for method calls and deployments"
I understand the `etherlime test --gas-report` feature which reports back the gas costs per test, however a more advanced gas metrics report is needed which reports cost of method calls. https://github.com/cgewecke/eth-gas-reporter is brilliant but doesn't work natively with `etherlime`, perhaps either extend that or provide an alternative.

[2020-02-18 14:30] ochikov commented on #306
Thank you for the issue. We are going to investigate it.

[2020-02-18 14:31] ochikov commented on #307
Thank you. We are going to implement it in our future releases.

[2020-02-21 01:05] mudgen opened #308 "Config/Settings File for Default Options for Commands"
There are a lot of command line options for `etherlime compile`.  Is there a way I could use a configuration file for the settings for compiling contracts so I don't have to type in the options every time?

[2020-02-21 21:35] mudgen opened #309 "Read-Only Method is Sending a Transaction"
The problem is that the call to "totalFunctions()" sends a transaction. But totalFunctions() is a read-only method on the contract.

Using etherlime 2.2.6.

Here is my code:
[code]
Here is the abi for the `totalFunctions()` function:
[code]

[2020-02-25 08:05] ochikov commented on #298
@elenadimitrova I have released a new etherlime version.

[2020-02-25 10:13] elenadimitrova commented on #298
@ochikov thanks, I'm testing now. Facing some issues which I'll log separately

[2020-02-25 10:18] elenadimitrova commented on #304
This is still al problem with the new etherlime@2.3.0 how do we include the /lib folder artefacts in coverage?

[2020-02-25 11:12] elenadimitrova opened #311 ".solcover.js configuration file is not taken into account when running coverage"
`solidity-coverage` uses a .solcover.js configuration file to pass in quite a lot of really useful and necessary options into coverage. Some can perhaps be replaced with the `etherlime coverage` command options but most are just not there. Examples are the ganache-cli options via `providerOptions`, `onCompileComplete` option for provisioning external artefacts before tests are run (which also will

[2020-02-25 11:15] ochikov commented on #311
Thank you. I am going to fix it.

[2020-02-25 12:05] ochikov commented on #304
I will try to solve that issue as well.

[2020-02-25 19:26] mudgen commented on #309
Still waiting on this....  Maybe the problem is related to the fact that I am using Solidity 0.6.3  and maybe something in the compiler json output changed? Just a wild guess.

[2020-02-26 06:13] elenadimitrova opened #312 "Compiler error on contracts with imports from /contracts"
Compiling contracts which live outside the `/contracts` folder but have imports from there fails with:

[code]

You can reproduce with the following file system setup:
/contracts
     /tokens
          ERC20.sol
/lib
   TestContract.sol

where `TestContract` `imports ../contracts/tokens/ERC20.sol`

[2020-03-10 00:54] timoxley opened #314 "Not installable on Node 12"
Not directly this repo's fault but because the deprecated and incompatible `scrypt` is indirectly depended on by `ethereum-transaction-debugger`, it's impossible to install or run etherlime on Node 12.

Your CI may not have noticed this as the etherlime `.travis.yml` only seems to test Node 8, but note that Node 8 is no longer officially supported, i.e. end of life as of January 2020: https://node

[2020-03-16 15:57] elenadimitrova opened #315 "Incorrect overload for function called when running test coverage"
We have the `RegistryModule` contract and its `isRegisteredModule` function [here](https://github.com/argentlabs/argent-contracts/blob/develop/contracts/upgrade/ModuleRegistry.sol#L117) which is being tested [here](https://github.com/argentlabs/argent-contracts/blob/develop/test/simpleUpgrader.js#L32).

When running code coverage the incorrect overload for that function is used, which expects [an

[2020-03-16 16:36] ochikov commented on #312
@elenadimitrova
The issue is fixed and a new version is released -> etherlime@2.3.1

[2020-03-16 16:36] ochikov commented on #315
Thanks for the issue. We are going to investigate it.

[2020-03-19 08:27] elenadimitrova opened #316 "Error when running test coverage: TypeError: this.timeout is not a function"
Some random errors after contract instrumentation have started happening since yesterday:
[code]

Sample failing build: https://circleci.com/gh/argentlabs/argent-contracts/289

Also
[code]

Sample failing build: https://circleci.com/gh/argentlabs/argent-contracts/287

[2020-03-19 08:37] ochikov commented on #316
Thank you. I will investigate it.

[2020-03-19 10:22] elenadimitrova commented on #316
I managed to narrow it down to changing the empty function declarations to use arrow syntax:

`describe("Test Approved Transfer", function () {` => `describe("Test Approved Transfer", () => {`

[2020-04-10 08:56] elenadimitrova opened #322 "etherlime flatten overloads node.js"
`etherlime flatten` overloads node.js and doesn't complete running.

You can reproduce with [argent-contracts](https://github.com/argentlabs/argent-contracts) repo by running `etherlime flatten modules/TransferManager.sol` there.

[2020-04-10 14:43] desimira commented on #322
Hi, Elena! I spent some hours to figure out what causes your problem and it seems that you are importing `BaseWallet.sol` in `Module.sol` and then also importing `Module.sol` in `BaseWallet.sol`. The flattener embeds the content of all imported files first and and at the end the content of the main contract. In this scenario it could not record neither the `BaseWallet.sol` nor `Module.sol` (it's s

[2020-04-13 07:33] elenadimitrova commented on #322
I see, but the problem is that this is valid Solidity which does support such circular dependencies. This is considered safe because neither is inheriting from the other. It's also not a good practice to iterate through the imports sequentially as when imports are repetitive, there'll be duplicated contract code in the flattened version in addition to problems like the above. Logically it seems th

[2020-04-28 13:45] elenadimitrova opened #324 "Deploying large contracts fails"
When testing with `ganache` we use `allowUnlimitedContractSize` switch to allow contracts bigger than 234576 bytes to be deployed. However etherlime `deployer.deploy` still throws an `out of gas` error even though the contract was created by `ganache`, e.g:

[code]

[2020-04-30 14:08] desimira commented on #322
Hey, Elena! We've just released new version of etherlime and it should fixes the issue. I've totally rewrote the flattener algorithm so it allows now circular dependencies. Hope that would be useful for you! :)

[2020-05-04 14:20] elenadimitrova commented on #322
I'm still getting the same behaviour with 2.3.3 :(

[2020-05-04 16:48] desimira commented on #322
I have tested with the repo you provided and it was able to flatten the TransferManager contract. Just to be sure, can you check with `etherlime --version`?

[2020-05-05 05:07] elenadimitrova commented on #322
Sorry @desimira my mistake, I was running a different install globally. Confirming this works now.

[2020-05-05 05:07] #322 closed

[2020-05-06 11:15] elenadimitrova commented on #306
Investigating a bit more it appears you are not throwing an error on compilation errors but just [putting the error on the stack](https://github.com/LimeChain/etherlime/blob/master/packages/etherlime/cli-commands/compiler/etherlime-error/index.js#L7) and [rejecting the compilation promise](https://github.com/LimeChain/etherlime/blob/master/packages/etherlime/cli-commands/compiler/etherlime-compile

[2020-05-06 12:31] ochikov commented on #306
Thank you. I will investigate it as well and fix it in the next releases.

[2020-05-20 09:55] elenadimitrova opened #325 "More granular compile targets"
When working with a solution that uses a mix of `solc` versions for contract compilation there needs to be a better granularity when defining compilation targets. Currently `etherlime compile` takes the `contracts` folder by default. A different folder can be targeted using the `--workingDirectory` option. What will make this fully flexible is allowing single contract targets to be compiled and al

[2020-05-29 11:46] elenadimitrova opened #326 "solidity-coverage fixed to version 0.7.2"
`solidity-coverage` is pinned to specific version, currently 0.7.2. However the latest version is 0.7.4 which includes some fixes for the support of Solidity 0.6. There are likely to be more upcoming minor fixes and I can't see a reason to not allow it to upgrade it with something like `"solidity-coverage": "^0.7.2"`

Currently with the upgraded repo for argent-contracts we get the following error

[2020-05-29 11:47] ochikov commented on #326
Thank you. I will fix it.

[2020-05-29 11:48] ochikov commented on #325
You can pass to the optional param:  ```workingDirectory```  a path to a single contract.

[2020-07-05 08:54] elenadimitrova opened #328 "Cannot compile on select version of solc"
Error thrown when not using a locally installed version of solc
[code]

[2020-07-15 16:00] ochikov commented on #328
I just tried to compile a simple contract with 0.5.4 version and it seems to work. Can you confirm it ?

[2020-07-15 16:47] elenadimitrova commented on #328
It was fixed meanwhile yes, but for all of 3 days we couldn't compile. You can see the sample failing build in CI. The reliance on a limechain service for compilation is really a single point fo failure that's not acceptable. So this dependency should be removed to prevent this from happening again.

[2020-07-21 10:39] elenadimitrova commented on #306
Unfortunately due to this we managed to merge some changes that broke our development branch https://circleci.com/gh/argentlabs/argent-contracts/1238 :(

[2020-07-24 13:55] mudgen opened #330 "etherlime ganache gives error"
When I run `etherlime ganache` I get this error:

[code]

I think I may be getting this error because I am using Node version v14.5.0.   I need this to work using v14.5.0.

I am using etherlime version 2.3.2.

[2020-08-03 10:00] biahoi opened #331 "dont have bytecode - error - etherlime deploying to ropsten network"
I am trying to the code implemented with Diamond standard, but got this Error: Passed contract is not a valid contract object. It needs to have bytecode, abi and contractName properties

Here is my code for deploy.js:
`const etherlime = require('etherlime-lib');
const DiamondExample = require('../build/DiamondExample.json');
const ethers = require('ethers');
require('dotenv').config()

const deplo

[2020-08-27 10:33] elenadimitrova opened #332 "`deployAndVerify` errors with `Cannot read property 'contractName' of undefined`"
`deployAndVerify` throws the following error:

[code]

[2020-09-19 00:03] edmundedgar commented on #328
Same problem here. There's some kind of DoS protection on the hosted site that seems to be misfiring. Hitting one of the failing URLs directly from my Japanese connection produces:

etherlime.limechain.tech is protected!
We have noticed an unusual activity from your IP: 143.189.165.88 and your access to the site is blocked.
You can contact our support for more information. If doing so please provi

[2021-03-10 16:10] ochikov commented on #330
Etherlime `2.3.5` now supports node v14.

[2021-03-10 16:10] #330 closed

[2021-03-11 08:41] ochikov commented on #314
Etherlime `2.3.5` is now supporting Node 12.

[2021-03-11 08:41] #314 closed